*{
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    max-width: 100vw;
    background: linear-gradient(45deg, rgb(0, 223, 211), rgb(4, 92, 104));
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.container
{
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.outer{
    height: 80%;
    width: 80%;
    margin: auto;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 25px 50px -12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.info
{
    text-align: center;
}
.btn {
    background: none;
    color: black;
    padding: 10px 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0 10px;
}

.btn:hover{
    color: black;
    background: whitesmoke;
    border: 2px solid white;
    box-shadow: 3px 3px 2px rgb(4, 92, 104), 3px 3px 2px rgb(4, 92, 104);
    transition: 0.5s;
}



.user-select-menu
{
    margin: 50px 10px;
}
@media only screen and (max-width:1000px)
{
       .user-select-menu
       {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        /* margin: auto; */
       }
       .btn
       {
        margin: 7px 0;
       }
}


.bodyofloader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#240229;
    flex-direction: column;
    
}
.loader{
    position: relative;
    width: 200px;
    height: 200px;
    border: 4px solid #240229;
    overflow:hidden;
    border-radius: 50%;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
    10px 10px 10px rgba(0, 0, 0, 0.4),inset -5px -5px 5px rgba(255, 255, 255, 0.2),inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.loader::before
{
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    background: #240229;
    border-radius: 50%;
    border: 2px solid #240229;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),inset 3px 3px 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.loader span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
    filter: blur(20px);
    animation: animate 0.5s linear infinite;
    /* z-index: -1; */
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.text{
    margin: 30px;
    background: linear-gradient(to right,#14ffe9,#ff00e0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;        
}
.hide{
    display: none;
}