html {
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    max-width: 100vw;
    background: rgba(0, 202, 183, 0.5);
}

header {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 10vh;
    max-width: 100vw;
    min-width: 100vw;
    position:fixed;
    top: 0;
    /* left: 0;/ */
/* color:lightyellow; */
}


.left {
    width: 30%;
    margin: 0 0 0 10%;
}

.right {
    width: 100%;
    margin: 0 10% 0 0;
}
.dark
{
    width:5%;
    margin: 0 70px 0 0;
}

#logo {
    height: 2rem;
    width: auto;
    user-select: none;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.listitem a {
    width: 20%;
    margin: auto;
    padding: 0 2rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-decoration: none;
}

.listitem a:hover {
    color: tomato;
}

.container1 {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: url('/istockphoto-1415835098-170667a.jpg'); */
    background-color: rgb(0, 223, 211);
    background: linear-gradient(45deg, rgb(0, 223, 211), rgb(4, 92, 104));
    /* background: rgba(0, 0, 0, 0.9); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.texts {
    width: 50%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    /* color: white; */
}

.container1 h1,
h3,
h4 {
    margin: 0;
}

.container1 p {
    margin: 20px;
}

.line {

    width: 15vw;
}

.btn1 {
    text-decoration: none;
    border: 2px solid black;
    /* width: 20%; */
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 100vw;
    height: 100vh;
}

.container2 h3 {
    margin: 15px;
}

.part1 {
    width: 50%;
    height: 100vh;
    background: url('/Sandeep_Singh_stylized_hostel_room_for_student_15911061-fb8f-42fa-8657-ca1e502bbffb.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.featurebox {
    height: 100%;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    /* background: rgba(0, 0, 0, 0.3); */

}
.btn {
    background: none;
    color: white;
    padding: 10px 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0 10px;
}

.btn:hover {
    color: black;
    background: whitesmoke;
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255,0.1);
    /* box-shadow: 3px 3px 2px salmon, 3px 3px 2px salmon; */
    box-shadow: 3px 3px 2px rgb(3, 69, 78), 3px 3px 2px rgb(3, 69, 78);
    transition: 0.5s;
}

.container3 {
    height: 100vh;
    max-width: 100vw;
    background: rgb(187, 236, 238);
    display: flex;
    background: url('/Sandeep_Singh_Hostel_food_routine_render_in_8k_8daef9ed-8331-4043-97c4-2b6b8f0cd024.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.timetable {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    width: 100%;


}

.cards {
    max-height: 100vh;
    /* margin: 30px; */
    /* padding: 30px 30px; */
    display: grid;
    /* grid-template-columns: 160px 160px 160px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3,1fr); */

    justify-content: center;
    align-items: center;
}


.messimg {
    display: none;
    height: 100%;
    width: 50%;
    background: url('/Sandeep_Singh_Hostel_food_routine_render_in_8k_8daef9ed-8331-4043-97c4-2b6b8f0cd024.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 15vh;
    background-color: white;
    margin: 10px 10px;
    padding: 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 5%;
    

}
.cards-room{
    grid-template-columns: repeat(10,1fr);
    /* grid-template-rows: repeat(20,1fr); */
}
.card-room
{
    height: 1vh;
    width: 1vh;
    padding: 15px;
    color: grey;
    background: white;
}
.card-room:hover{
    color: black;
    background: grey;
}
.food-card {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 15vh;
    background-color: white;
    margin: 10px 10px;
    padding: 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 5%;
}

.card:hover {
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    background-color: cadetblue;
    /* background:radial-gradient(cadetblue,rgb(47, 87, 88)); */
    transition: 0.25s ease-in-out;
}

.container4 {
    height: 100vh;
    max-width: 100vw;
    background: linear-gradient(45deg, rgb(0, 223, 211), rgb(3, 69, 78));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4 h2 {
    font-size: 33px;
    margin: 0%;
}

.container4 p {
    margin: 1%;
}

.brokenimg {
    width: 50%;
    height: 100%;
    background: url('/Sandeep_Singh_room_with_low_light_broken_door_wires_hanging_cra_b3abc0e5-b61f-426a-bc21-d2dcafe9234c.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.features {
    text-align: center;
    width: 50%;
    margin: auto;
    display: flex;
}

/* footer styling */


footer {
    height: 30vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bcc4db;
    /* padding: 1% 10%; */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: larger;
}

.insta {
    margin: 20px;
}

footer span {
    padding: 0 20px;
}

footer span a {
    text-decoration: none;
    color: black;
}

footer span a:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.day.hide {
    display: none;
}

.day {

    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* justify-items: center; */
    justify-content: center;
    align-items: center;
}
.gg-sun {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 24px;
    background:
    linear-gradient(to bottom,
    currentColor 4px,transparent 0)
    no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
    currentColor 4px,transparent 0)
    no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
    currentColor 4px,transparent 0)
    no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
    currentColor 4px,transparent 0)
    no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
   }
   
   .gg-sun::after,
   .gg-sun::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px
   }
   
   .gg-sun::before {
    transform: rotate(-45deg)
   }
   
   .gg-sun::after {
    transform: rotate(45deg)
   } 


   .gg-moon,
   .gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
   }
   
   .gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
   }
   
   .gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
   } 