body {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    background: linear-gradient(45deg, rgb(0, 223, 211), rgb(4, 92, 104));
    background-repeat: no-repeat;
}

.container {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.btn ,.btn1{
    background: none;
    color: black;
    padding: 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 40px 15px 0 15px;
    border-radius: 20px;
}
.btn1{
    margin: 0 15px;
    border-radius: 10px;
}
.btn:hover ,.btn1:focus{
    color: rgb(4, 92, 104);
    background: whitesmoke;
    border: 2px solid white;
    box-shadow: 3px 3px 2px salmon, 3px 3px 2px salmon;
    transition: 0.5s;
    outline: none;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 20%;
    background-color: white;
    margin: 10px 10px;
    /* padding: 30px 30px; */
    box-shadow: rgba(0, 0, 0, 0.5) 0px 25px 50px -12px;
    border-radius: 20px;
    
}
.text1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 20px;
    
}
.form-floating
{
    text-align: center;
    width: 100%;
    margin: 5px 0px;
    padding:0px;
}
input{
    text-align: left;
}
.forgot
{
    font-size: 10px;
    font-weight: 100;
    color: tomato;
}
.forgot a{
    text-decoration: none;
    color: tomato;
}
.back{
    height: 20px;
    width: 20px;
    color: black;
    position: absolute;
    /* top: 30%; */
    left: 45%;
}
.back svg{
    transform:scale(1);
    transition: 0.2s ease-in-out;
}
.back svg:hover{
    color:coral;
    transform: scale(1.25);
    transition: 0.2s ease-in-out;
}
.bodyofloader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#240229;
    flex-direction: column;
    
}
.loader{
    position: relative;
    width: 200px;
    height: 200px;
    border: 4px solid #240229;
    overflow:hidden;
    border-radius: 50%;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
    10px 10px 10px rgba(0, 0, 0, 0.4),inset -5px -5px 5px rgba(255, 255, 255, 0.2),inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.loader::before
{
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    background: #240229;
    border-radius: 50%;
    border: 2px solid #240229;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),inset 3px 3px 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.loader span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
    filter: blur(20px);
    animation: animate 0.5s linear infinite;
    /* z-index: -1; */
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.text{
    margin: 30px;
    background: linear-gradient(to right,#14ffe9,#ff00e0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;        
}
.hide{
    display: none;
}
@media screen and (max-width:768px){
    .card{
        width: 80%;
        height: 60%;
    }
    .back{
        left: 25%;
    }
}